# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = \"Kent C. Dodds\"
	email = kent@doddsfamily.us
[core]
	excludesfile = /Users/kdodds/.gitignore_global
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[credential]
	helper = osxkeychain

[hub]
	protocol = ssh
[branch]
	autosetuprebase = always
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	m = checkout master
	up = "!git remote update -p; git merge --ff-only @{u}"
	pr = "!f() { git checkout -b pr/$1; }; f"
	files = "!f() { git diff --name-status $1^ $1; }; f"
	cdiff = "!f() { git diff $1^ $1; }; f"
	ca = "!git add -A && git commit -av"
	amend = commit -a --amend --no-edit
	b = checkout -b
	annihilate = "!f() { git branch -D \"$1\"; git push origin --delete \"$1\"; }; f"
	ann = annihilate
