[submodule ".janus/darcula"]
	path = .janus/darcula
	url = https://github.com/blueshirts/darcula.git
[submodule ".janus/vim-colorscheme-switcher"]
	path = .janus/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher.git
[submodule ".janus/vim-misc"]
	path = .janus/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".janus/vim-node"]
	path = .janus/vim-node
	url = https://github.com/moll/vim-node
[submodule ".janus/vim-flavored-markdown"]
	path = .janus/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown
[submodule ".janus/matcher"]
	path = .janus/matcher
	url = https://github.com/burke/matcher
