snippet imp
	import ${1:*} from '${2:./`expand('%:p:h:t')`}'${0}

snippet ed
	export default ${1:{}}${0}

snippet edf
	export {default} from './`expand('%:p:h:t')`'

snippet vl
	console.log('$1', ${1:variable})${0}
snippet esl
	/* eslint ${0} */
snippet esll
	// eslint-disable-line ${0}
snippet iftest
	if (process.env.NODE_ENV === 'test') {
		require('./`expand('%:p:h:t')`.test')(${1:`expand('%:p:h:t')`})${0}
	}
